<h1>Ideas</h1>

<%= form_tag api_v1_ideas_path, { id: "new-idea-form", remote: true } do %>
  <%= label_tag :idea, :title %>
  <%= text_field :idea, :title %>

  <%= label_tag :idea, :body %>
  <%= text_field :idea, :body %>

  <%= submit_tag "Save" %>
<% end %>

<div id="ideas">
</div>
