<h1>Idea Box</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= label_tag :q, :search, class: "control-label" %>
      <%= text_field_tag :q, "", class: "form-control" %>
    </div>

    <div class="thumbnail">
      <%= form_tag api_v1_ideas_path, { id: "new-idea-form", remote: true } do %>
        <%= label_tag :idea, :title, class: "control-label" %>
        <%= text_field :idea, :title, class: "form-control" %>

        <%= label_tag :idea, :body, class: "control-label" %>
        <%= text_field :idea, :body, class: "form-control" %>

        <%= submit_tag "Save", class: "btn btn-default btn-save-idea pull-right" %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="ideas">
    </div>
  </div>
</div>
